#root {
  max-width: 1280px;
  margin:auto;
  padding: 2rem;
  text-align: center;
}

.btn{
  display: none;
}

.container div{
  display: flex;
  /* padding: 10px; */
}

.letters{
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 1px 10px 1px black;
  box-sizing: border-box;
}

.posicao{
  background-color: blue;
}
.random{
  background-color: orange;
  color: white;
}

.timer{
  height: 10px;
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
  animation: timer 5s;
}

@keyframes timer {
  to{
    width: 0;
  }
}

